/usr/local/etc/certs/default.pem
{% if enable_certbot|bool %}
/usr/local/etc/certs/{{ jfrog_hostname }}.{{ aws_guid_public_zone_name }}.pem [alpn h2 ssl-min-ver TLSv1.2] {{ jfrog_hostname }}.{{ aws_guid_public_zone_name }}
{% endif %}
